<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ParcInformatiqueEntities" connectionString="metadata=res://*/ModelParcInfo.csdl|res://*/ModelParcInfo.ssdl|res://*/ModelParcInfo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hk;initial catalog=ParcInformatique;User id = sa;password=azerty;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="ParcInformatiqueEntities" connectionString="metadata=res://*/ModelParcInfo.csdl|res://*/ModelParcInfo.ssdl|res://*/ModelParcInfo.msl;provider=System.Data.SqlClient;provider connection string=&quot;
    Data Source=SQL6005.site4now.net;Initial Catalog=DB_A47B43_parcinfo;User Id=DB_A47B43_parcinfo_admin;Password=azerty123;
    App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>